{% set list_menu = {'home':'Accueil','semio_generale':'Semiologie generale', 'semio_cardio_vasculaire':'Semiologie Cardiovasculaire','semio_respiratoire':'Semiologie Rèspiratoire',
                        'semio_appareil_digestif':'Semiologie de l\'appareil digestif','semio_neurologique':'Semiologie Neurologique','semio_osteo_articulaire_musculaire':'Semiologie Osteo-Articulaire et Musculaire',
                        'semio_endocrinologique':'Semiologie Endocrinologique','semio_dermatologique':'Semiologie Dermatologique','semio_ophtalmologie':'Semiologie Ophtalmologie',
                        'semio_orl':'Semiologie ORL','semio_hematologique':'Semiologie Hematologique','semio_appareil_urinaire':' Semiologie de l\'Appareil Unaire'} %}

<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap " id = "nav_bar">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-0" href="/home"><span class="mx-5" id="ufr_medecine_text"> E - SEMIO</span>
        <img src="{{asset('https://cdn.uca.fr/images/logos/logo_uca_mini_light.png')}}" alt="Avatar Logo" style="width:80px;" id ="logo_uca"> 
    </a>
    <form class="d-none d-md-inline-block form-inline navbar-search">
        <div class="input-group">
            <input type="text" class="rounded-pill border-info input-barre-recherche-nav-bar" id=""  placeholder="Tapez un texte  ....">
            <div class="input-group-append">
                <button class="btn btn-info ms-2 rounded-circle btn-barre-recherche-nav-bar" type="button">
                        <span class="mdi mdi-18px mdi-magnify"></span>
                </button>
            </div>
        </div>
    </form>
     {# <input type="text" > #}
    <div class="row">
        <div class="col-3 p-0">
            <ul class="navbar-nav ml-auto">

                                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                                <li class="nav-item dropdown no-arrow d-sm-none" >
                                    <a class="btn btn-primary dropdown-toggle text-light p-0" href="#" id="searchDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:0px;">
                                        <span class="mdi mdi-18px mdi-magnify"></span>
                                    </a>
                                    <!-- Dropdown - Messages -->
                                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                        <form class="form-inline mr-auto w-100 navbar-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control bg-light border-0 small"
                                                    placeholder="Search for..." aria-label="Search"
                                                    aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <span class="mdi mdi-18px mdi-magnify"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
            </ul>
        </div>
        <div class="col-2 p-0">
            {# <a class="badge rounded-pill bg-light d-md-none  nav-link text-truncate" href="#" style="font-size:10px;color:black">Déconnexion</a> #}
            <button class="btn btn-primary btn-icon me-3 d-md-none" title="{{app.user.username}}" data-bs-toggle="tooltip" data-bs-placement="bottom"><i class="bi bi-escape"></i></button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end d-md-none ms-0 p-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" style="font-size:25px;">
                <span class="navbar-toggler-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></span>
            </button>
        </div>
    </div>
    <div class="nav-bar d-none d-md-block">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
                <a class="nav-link  text-light" href="/competences/avancer">
                    avancés
                </a>
            </div>
            <div class="col-lg-3 col-xl-3">
                <a class="nav-link  text-light" href="{{path('app_historique')}}">
                    historique
                </a>
            </div>
            <div class="col-lg-6 col-xl-6 user-current">
                <a class="nav-link me-5" href="#" aria-haspopup="true" aria-expanded="false">
                    <span class="me-3 d-none d-lg-inline text-light small">{{app.user.username}}</span>
                    <i class="bi bi-person-square"></i>
                </a>
            </div>
        <div>
    </div>
</nav>
<nav id="sidebarMenu"  class="col-md-3 col-lg-2 h-100 d-md-block collapse shadow  sidebar fixed-top p-0" >
    <br><br><br>
    <div class="position-sticky w-100">
    <ul class="nav flex-column">
        {% for key , value in list_menu %}
            {% if key == 'home' %}
        
                <li class="nav-item">
                    <a class="nav-link text-light"  href="/home" id = "{{ key }}">
                        <i class="fs-5 bi-house"></i>  {{ value }}
                    </a>
                </li>
            {% else %}
                    <li class="nav-item">
                    <a class="nav-link text-light"  href="/competences/{{ key }}" id = "{{ key }}">
                        <span class="glyphicon glyphicon-home"></span>
                        {{ value }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <hr style="height:10px;border-width:0;color:gray;background-color:blue;border-style:dotted;margin-top:60px;">
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link text-truncate text-light" href="/competences/avancer">
                Voir vos avancés
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate text-light" href="{{path('app_historique')}}">
                Voir l'historique
            </a>
        </li>
    </ul>
    </div>
</nav>
<div id="side_bar_mobile">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false" style="width:90%;">
        <div class="offcanvas-header">
            {# <h6 class="offcanvas-title d-sm-block" id="offcanvas">Menu</h6> #}
            <div class="dropdown pb-4">
                <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle">
                    <img src="https://github.com/mdo.png" alt="profil_etd" width="30" height="30" class="rounded-circle">
                    <span class="d-sm-inline mx-1">{{app.user.username}}</span>
                </a>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
         <div class="align-items-center ps-3">
            <a class="d-sm-inline mx-1" href="#">Se déconnecter</a>
        </div>
        <hr style="height:3px;border-width:0;color:gray;background-color:blue">
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">

                {% for key , value in list_menu %}
                {% if key == 'home' %}
            
                    <li class="nav-item">
                        <a class="nav-link text-truncate"  href="/home" id = "{{ key }}">
                            <i class="fs-5 bi-house"></i><span class="ms-1 d-sm-inline">{{ value }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-truncate"  href="/competences/{{ key }}" id = "{{ key }}">
                        <span class="ms-1 d-sm-inline">{{ value }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            <hr style="height:4px;border-width:0;color:gray;background-color:blue">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="/competences/avancer">
                        <span class="ms-1 d-sm-inline">Voir vos avancés</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="{{path('app_historique')}}">
                        <span class="ms-1 d-sm-inline">Voir l'historique</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>